header {
    position: absolute;
    right: 10px;
    top: 10px;
}
.box {
    display: flex;
    flex-direction: column; /* Posiciona las imágenes en una columna */
    align-items: center; /* Centra las imágenes horizontalmente */
}