* {
	margin: 0;
	padding: 0;
}

nav {
	margin: 0 auto 30.9rem;
	max-width: 90vw;
}

footer {
	text-align: center;
	font-size: smaller;
}


body {
  display: grid;
  grid-template: auto 1fr auto / 400px 1fr auto;
}


h1 {
  background: rgb(210, 9, 40);
  padding: 2rem;
  grid-column: 1 / 4;
}


main {
  background: coral;
}


footer {
  background: wheat;
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 4;
}

