* {
	margin: 0;
	padding: 0;
}

nav {
	margin: 0 auto 50rem;
	max-width: 90vw;
}


.navigation {
	list-style: none;
	display: flex;
	background-color: #333;
	align-items: center;
}
.navigation li {
	flex: 1 2 auto; /* difference between auto and 100% flex-basis - turn on link borders to view */
}
.navigation a {
	display: block;
	color: #eee;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
/* 	border: 1px dotted cyan; */
}
.navigation a:hover {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: yellow;
}

footer {
	text-align: center;
	font-size: smaller;
}


body {
  display: grid;
  grid-template: auto 1fr auto / 400px 1fr auto;
}

header {
  background: lightpink;
  padding: 2rem;
  grid-column: 1 / 4;
}

main {
  background: coral;
}


footer {
  background: wheat;
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 4;
}

