body {
    font-family: "Sedan", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;/* Utiliza la fuente personalizada como primera opción */
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	width: 200px;
	height: 250px;
  }




/* mobile **************************/
header {
	background-color: #bbb;
	display: block;
	padding: 15px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}


h1 {
	font-size: 2rem;
}

nav ul {
	list-style-type: none;
}
nav a {
	display: flex;
    justify-content: space-around;
	color: #fff;
	text-align: center;
	padding: 1rem;
	background-color: #36454f;
	margin: 0 auto;
	max-width: 800px;
}

nav a:hover {
	text-decoration:overline;
}

.active {
	color: yellow;
}

/* Larger Views ******************************/
@media (min-width: 640px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
}












.tarjeta {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
  }

  .tarjeta h2 {
    color: #333;
    margin-bottom: 10px;
  }

  .tarjeta a {
    text-decoration: none;
    color: #007bff;
  }

a {
    text-decoration: none; /* Quita el subrayado de los enlaces */
}