@font-face {
    font-family: 'MiFuente'; /* Nombre que le das a la fuente personalizada */
    src: url('tu-fuente.woff') format('woff'), /* URL del archivo de fuente WOFF */
         url('tu-fuente.ttf') format('truetype'); /* URL del archivo de fuente TTF (opcional) */
}
  
body {
    font-family: 'MiFuente', sans-serif; /* Utiliza la fuente personalizada como primera opción */
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/* mobile **************************/
header {
	background-color: #bbb;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

header,
main {
	margin: 0 auto;
}

h1 {
	font-size: 2rem;
}

nav {
	background-color: #36454f;
	margin: 0 auto;
	max-width: 800px;
}
nav ul {
	list-style-type: none;
}
nav a {
	display: flex;
    justify-content: space-around;
	color: #fff;
	text-align: center;
	padding: 1rem;
}

nav a:hover {
	text-decoration:overline;
}

.active {
	color: yellow;
}

/* Larger Views ******************************/
@media (min-width: 640px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
}












.tarjeta {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
  }

  .tarjeta h2 {
    color: #333;
    margin-bottom: 10px;
  }

  .tarjeta a {
    text-decoration: none;
    color: #007bff;
  }

a {
    text-decoration: none; /* Quita el subrayado de los enlaces */
}