* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Sansita", sans-serif;
}
/* mobile **************************/
header {
    background-color: #3d38ccbb;
	display: grid;
	grid-gap: 1rem;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 30px #333;
}
h1 {
	font-size: 2rem;
}
/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
    position: absolute;
	top: 1rem;
	right: 1rem;
}
#menu::before {
	content: "☰";
}
#menu.open::before {
	content: "❎";
}
.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	color: #fff;
}
.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
    font-size: large;
    font-weight: 700;
    background-color: #333;
}
.navigation a:hover {
	font-weight: 800;
}
.open a {
	display: block;
}
footer {
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
	color: #000000;
	background-color: #3d38ccbb;
	font-weight: 800;
}
div.temple-card {
    display: inline-grid;
    margin: 2rem;
    justify-items: center;
	border: 1px solid rgba(0, 0, 0, .9);
    padding: 1rem;
    background-color: #eee;
}
div.temple-card img{
    width: 400px;
    height: 300px;
	box-shadow: 0 0 30px #777;
	margin-top: 1rem;
}
main {
    text-align: -webkit-center;
}