:root {
    --primary-color: #007bff;  /* Blue color */
    --secondary-color: #ffc107; /* Orange color */
    --font-size: 16px;          /* Base font size */
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size); /* Use the global font size */
}
h1 {
    color: var(--primary-color);
}
h2{
    color: var(--secondary-color);
}
header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first {
    background-color: #fff;
    position: absolute;
    top: 200px;
    left: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}
.second {
    background-color: #fff;
    position: absolute;
    top: 800px;
    left: 1200px;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;

}
/* h1, h2 {
    margin-top: 0;
} */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    margin-bottom: 10px;
}
strong {
    font-weight: bold;
}
.hero img{
    width: 1480px;
    height: auto;
}
/* .section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    text-align: center;
} */
footer {
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
	color: #000000;
	background-color: #0800ffbb;
	font-weight: 800;
}