* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Sansita", sans-serif;
}

/* mobile **************************/
header {
    background-color: #3d38ccbb;
	display: grid;
	grid-gap: 1rem;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 30px #333;
}

h1 {
	font-size: 2rem;
}

nav {
	background-color: #0be554;
	display: flex;
	flex-direction: column;
}

/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
    position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #333;
	color: #fff;
}


.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation a:hover {
	font-weight: 700;
}

.open a {
	display: block;
}



footer {
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
	color: #000000;
	background-color: #3d38ccbb;
	font-weight: 800;
}

figure {
    display: inline-grid;
    margin: 2rem;
    justify-items: center;
}

figure img {
    width: 400px; /* Ajusta el ancho de las imágenes */
    height: auto; 
}

main {
    text-align: -webkit-center;
}